<!-- <div class="progress" style="height: 1px;">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div> -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(31,37,51);">
  <a class="navbar-brand" routerLink="/admin" style="color: white;">Swarna Mahal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
      <span class="navbar-toggler-icon" id="footerid"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" (click)="toggleNavbar()">
        <a class="nav-link btnm" routerLink="/" style="color: white;">Home</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
      <a class="nav-link btnm" routerLink="/today" style="color: white;">Generate Offers</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
      <a class="nav-link btnm" routerLink="/avail" style="color: white;">Avail Offers</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
      <a class="nav-link btnm" style="color: white;" routerLink="/all" >View All Customers</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
        <a class="nav-link btnm" style="color: white;" routerLink="/add" >Add New Customer</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
        <a class="nav-link btnm" style="color: white;" routerLink="/edit" >Edit Customers</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
      <a class="nav-link btnm" style="color: white;" routerLink="/send" >Edit Message</a>
    </li>
    <li class="nav-item" (click)="toggleNavbar()">
      <a class="nav-link btnm" style="color: white;" routerLink="/personal" >Personal WorkSpace</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
      <!-- <button class="btn my-2 my-sm-0">Top</button> -->
      <a class="nav-link" routerLink="/aboutus" style="color: white;">About Us 
        <span class="badge badge-dark">New</span>
    </a>
  </form>
  </div>
</nav>
