<div class="logo-display">
  <a href="/"><img class="img-responsive" title="Swarna Mahal Admin" src="./../../../assets/logos/sm1-small.jpg"></a>
  <a style="color: black;padding-left: 2%;font-size:larger;text-decoration: none;" routerLink="/">Swarna Mahal Admin</a>
</div>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" routerLink="/" style="margin-left: 8%;color: black;"></a>
      <button class="navbar-toggler" type="button" style="background-color: rgb(233,236,239);" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" routerLink="/" style="color: black;">Home</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" style="color: black;" routerLink="/add" routerLinkActive="active-link">Add New Customer</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" style="color: black;" routerLink="/edit" routerLinkActive="active-link">Edit Customer Details</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link btnm" style="color: black;" routerLink="/all" routerLinkActive="active-link">View All Customers</a>
              </li>
              <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                <a class="nav-link btnm" style="color: black;" routerLink="/personal" routerLinkActive="active-link">Personal WorkSpace</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" style="margin-right: 4%;">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item" *ngIf="!userLoggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" routerLink="/aboutus" style="color: black;" routerLink="/aboutus" routerLinkActive="active-link">About Us</a>
                  </li>
                  <li class="nav-item" *ngIf="userLoggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" routerLink="/add" style="color: black;" routerLink="/add" routerLinkActive="active-link">Video Cards</a>
                  </li>
                  <li class="nav-item" *ngIf="userLoggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" routerLink="/editlogoandtitle" style="color: black;" routerLink="/editlogoandtitle" routerLinkActive="active-link">Logo and Title</a>
                  </li>
                  <li class="nav-item" *ngIf="userLoggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" routerLink="/editscroll" style="color: black;" routerLink="/editscroll" routerLinkActive="active-link">Scrolling Content</a>
                  </li>
                  <li class="nav-item" *ngIf="userLoggedIn" data-toggle="collapse" data-target=".navbar-collapse.show">
                      <a class="nav-link" (click)="logout()" style="color: white;cursor: pointer;">Log Out!</a>
                  </li>

              </ul>
          </form>
      </div>
  </nav>
</div>

<div style="display: none;">If you are playing around in this area I see that you are interested in this stack. Dont worry this SPA is open source except for some areas and you can find this SPA source code in https://github.com/RohithReddy86/dineWithUs and if anywhere in source code anything asks for password it is MuRodinewuAnFiYtv3</div>