<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hai Mukesh.</h1>
      <p class="lead">Today's Date is <b>{{dateToday}}</b> and you have <b>{{todayCustomersCount}}</b> customer/s having birthdays on next 3rd Days</p>
      <hr class="my-4">
      <p class="lead">Click below button to go to 'send offer message' section.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink='/today' role="button" style="margin: 2%;">View Offer Page</a>
      </p>
      <hr class="my-4">
      <h3 class="display-6">Quick View</h3>
      <p class="lead">
        <a class="btn btn-primary btn-lg" style="margin: 2%;" routerLink='/add' role="button">Add New Customer</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;" routerLink='/edit' role="button">Edit Customers</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;" routerLink='/all' role="button">View All Customers</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;" routerLink='/personal' role="button">Personal WorkSpace</a>
    </p>
    </div>
</div>