<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hai Mukesh.</h1>
      <!-- <p class="lead">Today's Date is <b>{{dateToday}}</b> and you have <b>{{todayCustomersCount}}</b> customer/s having birthdays on next 3rd Days</p> -->
      <p class="lead">Today's Date is <b>{{dateToday}}</b> and you have {{todayCustomersCount}} customer/s having birthdays on {{NextThreeDay}}</p>
      <hr class="my-4">
      <p class="lead">Click below button to go to 'send offer message' section.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink='/today' role="button" style="margin: 2%;">View Offer Page</a>
        <a class="btn btn-primary btn-lg" routerLink='/avail' role="button" style="margin: 2%;">Avail Offers</a>
      </p>
      <hr class="my-4">
      <h3 class="display-6">Quick View</h3>
      <!-- <p class="lead"> -->
        <div style="display: flex;justify-content: center;flex-wrap:wrap;">
        <a class="btn btn-primary btn-lg" style="margin: 2%;width: 300px;" routerLink='/add' role="button">Add New Customer</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;width: 300px;" routerLink='/edit' role="button">Edit Customers</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;width: 300px;" routerLink='/all' role="button">View All Customers</a>
        <a class="btn btn-primary btn-lg" style="margin: 2%;width: 300px;" routerLink='/send' role="button">Edit Messages</a></div>
    <!-- </p> -->
    </div>
</div>