<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">View All Customers</h1>
    <!-- <button type="button" class="btn btn-outline-dark" id="local" style="margin: 1%;" (click)="sortLocalCustomers()">See only Local Customers</button> 
    <button type="button" class="btn btn-outline-dark" id="whatsapp" style="margin: 1%;" (click)="sortWhatsappCustomers()">See only users that have whatsapp</button>
    <button type="button" class="btn btn-outline-dark" id="old" style="margin: 1%;" (click)="sortOldCustomers()">See only old customers</button>
    <button type="button" class="btn btn-outline-dark" id="availed" style="margin: 1%;" (click)="sortAvailedCustomers()">See only Offer Availed Customers</button>
    <button type="button" class="btn btn-outline-dark" id="reset" style="margin: 1%;" (click)="reset()">Reset</button> -->
    <button type="button" class="btn btn-outline-dark" id="local" style="margin: 1%;" (click)="sortLocalCustomers()">Local Customers</button> 
    <button type="button" class="btn btn-outline-dark" id="whatsapp" style="margin: 1%;" (click)="sortWhatsappCustomers()">Customers with WhatsApp</button>
    <button type="button" class="btn btn-outline-dark" id="old" style="margin: 1%;" (click)="sortOldCustomers()">Old Customers</button>
    <button type="button" class="btn btn-outline-dark" id="availed" style="margin: 1%;" (click)="sortAvailedCustomers()">Customers who Availed Offer</button>
    <button type="button" class="btn btn-outline-dark" id="reset" style="margin: 1%;" (click)="reset()">Reset</button>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Customer Name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">DoB</th>
          <th scope="col">Address</th>
          <th scope="col">Offer Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let customer of AllCustomers'>
          <td>{{customer.customerName}}</td>
          <td>{{customer.mobile}}</td>
          <td>{{customer.dob}}</td>
          <td>{{customer.address}}</td>       
          <td style="color:green" *ngIf="customer.offerUsed">Availed</td>         
          <td style="color:red" *ngIf="!customer.offerUsed">Not Availed</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>